/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/qualtrics_archive
/storage/qualtrics_archive
/vendor
.env
.env-new
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.app
/.config
/.database
/.public
/.resources
/.routes
.package.json
/scraper/.env
/scraper/node_modules
/scraper/package-lock.json
/bootstrap/cache/config.php
/public/css/app.css
/public/js/app.js
bootstrap/cache/config.php
public/css/app.css
public/js/app.js
