@import 'utils/utils';

* {
  box-sizing: border-box;
}

html {
  font-size: 80%;
  overflow: hidden;

  body {
    font-family: $body;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;

    &.nighttime {
      @import 'utils/nighttime';

      @import 'utils/mixins';

      background-color: $base;
      color: $std_copy;

      @import 'utils/base';
      @import 'main';
    }

    &.daytime {
      @import 'utils/daytime';

      @import 'utils/mixins';

      background-color: $base;
      color: $std_copy;

      @import 'utils/base';
      @import 'main';
    }
  }
}
