#dashboard-header {
  margin-bottom: 2rem;
  width: 100%;
  position: relative;

  @media (max-width: 599px) {
    margin-bottom: 1rem;
  }

  .dashboard-user-banner {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .dashboard-button-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    background-color: $base;

    .dashboard-button {
      width: 33.333333333%;
      text-align: center;
      border: none;
      margin: 0;
      border-bottom: solid 1px $primary;
      border-right: solid 1px $primary;

      &:last-child {
        border-right: none;
      }

      @media (max-width: 599px) {
        width: 100%;
      }
    }
  }

  .dashboard-user {
    padding: 2rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;

    .dashboard-user-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.5rem;
      background-color: $base;
      border-radius: 6px;
      margin-right: 1rem;

      .dashboard-user-avatar {
        @include avatar(70px, 1rem);

        @media (max-width: 991px) {
          @include avatar(60px, 0.75rem);
        }

        @media (max-width: 599px) {
          @include avatar(50px, 0.5rem);
        }
      }

      .dashboard-user-info {
        .dashboard-user-name {
        }

        .dashboard-user-level {
        }
      }
    }

    .dashboard-user-right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0.5rem;
      background-color: $base;
      border-radius: 6px;

      .dashboard-health_points {
        padding-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 600;
        color: #fafafa;

        i, svg {
          color: $hl_green;
          font-size: 2rem;
          margin-bottom: 0.4rem;

          @media (max-width: 991px) {
            font-size: 1.5rem;
          }

          @media (max-width: 599px) {
            font-size: 1.25rem;
          }
        }
      }

      .dashboard-contributions {
        padding-left: 1rem;

        .dashboard-contributions-title {
          text-align: right;
          margin: 0 0 0.5rem;
        }

        .dashboard-contributions-links {
          .dashboard-contrubtion-link {
            padding: 0 0.5rem;
            @include hover-transition($std_copy, $hl_green);
          }

          @media (max-width: 599px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            a {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
