.comment-section-wrapper {
  .form-wrapper {
    margin: auto 0;

    .form-title {
      text-align: left;
    }

    .form-cell {
      padding-left: 0 !important;
      padding-top: 0 !important;

      select {
        height: 40px;
        min-width: 300px;
      }
    }
  }

  .recursive-tree {
    padding-bottom: 5rem;

    .recursion-root {
      margin: 2rem 0;
    }

    .comment-actions {
      padding: 0.5rem 1rem;
      min-height: 3.5rem;

      button {
        margin-right: 1rem;
      }
    }

    .recursion-proposal {
      width: 100%;
      margin-bottom: 2rem;

      .comment-actions {
        padding: 0.5rem 0;
      }
    }

    .subject-children {
      .show-children-btn {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
      }

      .recursive-group {
        margin-bottom: 2rem;
        border-left: solid 2px $primary;
        position: relative;

        &.auth-comment {
          border-left: solid 3px transparentize($hl_red, 0.3);
        }

        &.no-border-left {
          border-left: none;
        }

        &.left-margin {
          margin-left: 2rem;
          width: calc(100% - 2rem);

          @media (max-width: 991px) {
            margin-left: 1.5rem;
            width: calc(100% - 1.5rem);
          }

          @media (max-width: 599px) {
            margin-left: 1rem;
            width: calc(100% - 1rem);
          }
        }

        .recursive-subject {
          margin-bottom: 2rem;

          @media (max-width: 991px) {
            margin-bottom: 1rem;
          }

          @media (max-width: 599px) {
            margin-bottom: 0.5rem;
          }

          .comment-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.2rem 1rem;
            background-color: transparentize($primary, 0.2);
            margin-bottom: 1rem;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            @media (max-width: 599px) {
              margin-bottom: 0.5rem;
            }

            .comment-user {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              .comment-user-anchor {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 0.2rem 0;
                @include hover-transition($std_copy, $hl_red);

                .comment-user-avatar {
                  @include avatar(40px, 1rem);

                  @media (max-width: 599px) {
                    @include avatar(24px, 0.3rem);
                  }
                }

                .comment-user-username {
                  @media (max-width: 599px) {
                    font-size: 0.7rem;
                  }
                }
              }

              .comment-user-meta {
                margin-left: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 599px) {
                  font-size: 0.7rem;
                  margin-left: 0.75rem;
                }
              }
            }

            .comment-icon {
              font-weight: 700;
              margin-left: 1rem;
              @include icon-spacing(0.3rem);

              &.hoverable {
                @include hover-transition($hl_green, $std_copy);
              }

              @media (max-width: 599px) {
                font-size: 0.7rem;
                margin-left: 0.75rem;
              }
            }
          }
          .comment-content {
            @include rich-snippet;
            padding: 1rem;
            border: solid 3px transparentize($primary, 0.3);
            background-color: darken($base, 0.5%);
            border-radius: 8px;
            margin-left: 1rem;
            margin-right: 1rem;
            @include editor-content-styles('small');

            @media (max-width: 599px) {
              margin-left: 0.5rem;
              margin-right: 0.5rem;
              padding: 0.5rem;
            }
          }
        }
        .recursion-proposal {
          span {
            i {
            }
          }
        }
      }
    }
  }
}
