#page-content {
  &.article {
    position: relative;
    padding: 0 $centerPadding;

    @media (max-width: 991px) {
      padding: 0 1rem 2rem;
    }

    .article-banner {
      width: 100%;
      height: 300px;
      object-fit: cover;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .article-banner-overlay {
      width: 100%;
      height: 300px;
      background-color: transparentize($base, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .article-single {
      position: relative;
      z-index: 3;
    }
  }
}
