.excerpt-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  border-top: solid 1px darken($base, 2%);

  .excerpt-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .excerpt-format {
      width: 33%;
      display: block;
      text-align: left;
      font-weight: 500;
      color: $std_copy;
      text-transform: uppercase;
      padding: 0.3rem 0.4rem 0.2rem;
    }

    .excerpt-icons {
      width: 33%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      padding: 0 0.2rem;

      .excerpt-icon {
        width: 33%;
        padding: 0.3rem 0;
        @include icon-spacing(0.3rem);

        &.hoverable {
          cursor: pointer;
          transition: 0.2s;
          @include hover-transition($hl_green, $std_copy);
        }
      }
    }

    .excerpt-created {
      width: 33%;
      text-align: right;
      font-size: 0.85rem;
      padding: 0.3rem 0.3rem 0.3rem 1rem;
      color: $std_copy;
      display: flex;
      align-items: center;
      font-weight: 600;
      @include icon-spacing(0.3rem);
      justify-content: flex-end;
    }
  }
}
