.excerpt-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px -1px 8px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 8px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 8px -7px rgba(0, 0, 0, 0.75);
  border-bottom: solid 1px $primary;

  .excerpt-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .excerpt-format {
      width: 33%;
      display: block;
      text-align: left;
      font-weight: 500;
      color: $std_copy;
      text-transform: uppercase;
      padding: 0.3rem 0.4rem 0.2rem;

      @media (max-width: 991px) {
        font-size: 0.8rem;
      }

      @media (max-width: 599px) {
        font-size: 0.7rem;
      }
    }

    .excerpt-icons {
      width: 33%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      padding: 0 0.2rem;

      .excerpt-icon {
        width: 33%;
        padding: 0.3rem 0;
        @include icon-spacing(0.3rem);

        &.hoverable {
          cursor: pointer;
          transition: 0.2s;
          @include hover-transition($hl_green, $std_copy);
        }

        @media (max-width: 991px) {
          font-size: 0.8rem;
        }

        @media (max-width: 599px) {
          font-size: 0.7rem;
        }
      }
    }

    .excerpt-created {
      width: 33%;
      text-align: right;
      font-size: 0.85rem;
      padding: 0.3rem 0.3rem 0.3rem 1rem;
      color: $std_copy;
      display: flex;
      align-items: center;
      font-weight: 600;
      @include icon-spacing(0.3rem);
      justify-content: flex-end;

      @media (max-width: 599px) {
        font-size: 0.7rem;
      }
    }
  }
}
