#page-wrapper {
  &.editpost {
    @include page-wrapper;

    #page-content {
      @include page-content-started;

      .form-wrapper {
        @include dashboard-content;

        .flex-end-btn {
          align-items: flex-end;
        }

        textarea[name='content'] {
          min-height: 500px;
          max-height: 1000px;
          min-width: 100%;
          max-width: 100%;
        }

        textarea[name='excerpt'] {
          min-height: 100px;
          max-height: 100px;
          min-width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
