.archive-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $primary;
  border-top: solid 2px $base;
  padding: 1rem;
  position: relative;

  @media (max-width: 599px) {
    padding: 0.5rem;
  }

  &:last-child {
    border-bottom: solid 2px $base;
  }

  .archive-item-meta {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .archive-item-cures {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;

      i,
      svg {
        font-size: 1.5rem;
        color: $hl_green;
        margin-right: 0.5rem;
      }
    }

    .archive-item-views {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;

      i,
      svg {
        font-size: 1.5rem;
        color: $hl_green;
        margin-right: 0.5rem;
      }
    }

    @media (max-width: 599px) {
      right: 0rem;

      .archive-item-cures,
      .archive-item-views {
        margin: 0 0.2rem;
        font-size: 0.7rem;

        i,
        svg {
          margin-right: 0.3rem;
          font-size: 0.7rem;
        }
      }
    }
  }

  .archive-item-anchor {
    @include hover-transition($std_copy, $hl_red);

    .archive-item-title {
      font-size: 1rem;
      margin: 0;

      @media (max-width: 599px) {
        max-width: 70%;
        font-size: 0.8rem;
      }
    }
  }

  .archive-item-created {
    font-size: 0.9rem;

    @media (max-width: 599px) {
      font-size: 0.7rem;
    }
  }

  .archive-item-excerpt {
    margin-bottom: 0;
    margin-top: 1rem;

    @media (max-width: 599px) {
      margin-top: 0.75rem;

      img {
        max-height: 200px;
        width: auto;
        object-fit: contain;
      }

      iframe {
        width: 240px;
        height: 160px;
      }
    }
  }
}
