.snippet {
  margin: 3.5rem 0 0;
  background-color: $primary;
  -webkit-box-shadow: 1px 1px 14px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 14px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 14px -10px rgba(0, 0, 0, 0.75);
  padding: 0.1rem;
  position: relative;
  font-size: 0.85rem;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  @media (max-width: 599px) {
    margin: 2.2rem 0 0;
  }

  .snippet-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 0;

    .snippet-icon {
      font-size: 0.8rem;
      width: 50%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem 1rem 0.2rem;
      font-weight: 600;

      &.comment-snippet {
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }

      i, svg {
        font-size: 1rem;
        margin-right: 6px;
        font-weight: 500;
      }

      &.snippet-icon-hover {
        @include hover-transition($hl_blue, $std_copy);
        @include icon-spacing(0.3rem);
      }

      @media (max-width: 599px) {
        i, svg {
          font-size: 0.7rem;
          margin-right: 3px;
        }
      }
    }
  }

  .snippet-thumbnail {
    @include avatar(50px, 0);

    @media (max-width: 991px) {
      @include avatar(40px, 0);
    }

    @media (max-width: 599px) {
      @include avatar(30px, 0);
    }
  }

  .snippet-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    padding: 0.5rem 0.2rem 0.3rem 0.5rem;

    @media (max-width: 991px) {
      padding: 0.5rem;
    }

    .snippet-title {
      margin: 0;
      font-size: 0.9rem;
      color: $std_copy;
      line-height: 1.15rem;
      text-transform: uppercase;

      @media (max-width: 599px) {
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }

    .snippet-title-anchor {
      margin: 0.2rem 0;

      .snippet-title {
        transition: 0.2s;
        &:hover {
          color: $hl_green;
        }
      }
    }

    .snippet-subtitle-anchor {
      margin: 0.5rem 0;
      color: $std_copy;
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:visited {
        color: $std_copy;
      }

      &:hover {
        color: $hl_red;
      }

      &:active {
        color: $std_copy;
      }

      .snippet-avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }

    .snippet-subtitle {
    }

    .snippet-content {
      @include editor-content-styles('small');

      &.comment-snippet {
        img {
          width: 100%;
          max-height: 100px;
          object-fit: cover;
        }
        iframe {
          width: 100%;
          max-height: 100px;
          object-fit: cover;
        }
      }
      &.post-snippet {
        img {
          width: 100%;
          max-height: 100px;
          object-fit: cover;
        }
        iframe {
          width: 100%;
          max-height: 100px;
          object-fit: cover;
        }
      }
    }

    .snippet-details {
      .snippet-detail-anchor {
      }

      .snippet-detail {
        font-size: 0.9rem;
        font-weight: 600;
        text-align: right;
      }
    }
  }
}
