$display: 'Normal';
$body: 'Helvetica Neue';

$headerHeight: 40px;
$subHeaderHeight: 40px;
$combinedHeaderHeight: 80px;
$footerHeight: 30px;
$mainHeight: calc(100vh - 110px);

$leftWidth: 20%;
$centerWidth: 80%;
$centerPadding: 5rem;

$white: #fff;
